@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');


*{
    margin: 0px; 
}

/* img {
    width: 100%;
} */

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h1 {
    grid-column: 2;
    font-family: 'Chilanka', cursive;
    /* display: inline-block; */
    /* margin: auto; */
    background-color: lawngreen;
    padding: 5px;
    border: 2px solid red;
    margin: 0px;
    border-radius: 15px;
    text-decoration: underline;
    color: red;
    text-shadow: 2px 2px 3px black;
    cursor: cell;
    text-align: center;
}

p {
    font-family: 'Chilanka', cursive;
    font-size: 32px;
    text-align: center;
}